<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome to my blog!{% endblock %}</title>
        <script src="https://use.fontawesome.com/abde185aad.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" >
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Raleway:600,600italic,700' rel='stylesheet' type='text/css'>
        {% block stylesheets %}{% endblock %}

    </head>
    <body style="font-family: 'Raleway', sans-serif;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{{path('home')}}">MyBlog <i class="fa fa-hand-peace-o" aria-hidden="true"></i>
  </a>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav  ml-auto">
      <li class="nav-item ">
        <a class="nav-link" href="{{path('home')}}"style="    color: white">Home <i class="fa fa-home fa-lg" aria-hidden="true"></i></a>
      </li>
      {% if not app.user %}
      <li class="nav-item ">
          <a class="nav-link" href="{{path('secure_login')}}" style="    color: white">Login <i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item " style="float: right">
            <a class="nav-link" href="{{path('register')}}" style="    color: white"> Register <i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i></a>
          </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{path('articlecreate')}}"style="    color: white">Create a article <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
          </li>
          
        <li class="nav-item ">
            <a class="nav-link" href="{{path('article')}}"style="    color: white">Explore articles  <i class="fa fa-eye" aria-hidden="true"></i></a>
          </li>
        <li class="nav-item ">
            <a class="nav-link" href="{{path('secure_logout')}}"style="    color: white">Logout <i class="fa fa-sign-out" aria-hidden="true"></i>
            </span> </a>
          </li>
          <li class="nav-item ">
              <a class="nav-link" href="{{path('profil_controler')}}  "style="    color: white">Profile <i class="fa fa-user" aria-hidden="true"></i>

              </span> </a>
            </li>
         
        {% endif %}
    </ul>

  
  </div>
</nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/e9e469c616.js"></script>

</html>
